/*1. Large Layout: 1900px. */
@media only screen and (min-width: 1282px) and (max-width: 1900px) { 
}

/* Medium Layout: 1280px. */
@media only screen and (min-width: 992px) and (max-width: 1200px) { 
  
    
}
/* Tablet Layout: 768px. */
@media only screen and (min-width: 768px) and (max-width: 991px) { 
 
    
}
/* Mobile Layout: 320px. */
@media only screen and (max-width: 767px) { 
 
 .navbar-toggle {float: right;margin: 13px 0 0;}
.navbar-toggle .icon-bar {background: #fbc011;}
.navbar-toggle {border: 1px solid #fbc011;}
.small-menu ul.navbar-nav{background: #000 none repeat scroll 0 0;opacity: 0.8;margin-top: 0;margin-top:15px;}
.is-sticky ul.navbar-nav{margin-top: 0;}
.small-menu ul.navbar-nav li {display: block !important;text-align: left;}
.small-menu ul.navbar-nav li a {padding: 4px 34px !important;}
    
}
/* Wide Mobile Layout: 480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) { 

}